.basket-table {
  font-size: 20px;
  margin-bottom: 0;

  .td-align-right {
    text-align: right;
  }
}

.price {
  text-align: right;
  margin: 10px 10px 30px 0;
  font-size: 20px;
  font-weight: 600;
}
