<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <h1>Регистрация</h1>
    <div class="sw-block">
      <div (keyup.enter)="signUp()" class="form">
        <div class="form-group" [class.has-error]="validation.isEmailExistError || validation.isEmailValidError">
          <label for="email">Email адрес:</label>
          <input [(ngModel)]="user.email" type="email" class="form-control" id="email" placeholder="email">
          <span *ngIf="validation.isEmailExistError" class="help-block">Этот логин уже используется</span>
          <span *ngIf="validation.isEmailValidError" class="help-block">Некорректный email</span>
        </div>
        <div class="form-group" [class.has-error]="validation.isPasswordError">
          <label for="pwd">Пароль:</label>
          <input [(ngModel)]="user.password" type="password" class="form-control" id="pwd" placeholder="Пароль">
          <span *ngIf="validation.isPasswordError" class="help-block">Пароли не совпадают</span>
        </div>
        <div class="form-group">
          <label for="pwdConf">Пароль еще раз:</label>
          <input [(ngModel)]="password" type="password" class="form-control" id="pwdConf" placeholder="Пароль еще раз">
        </div>
        <button (click)="signUp()" class="btn btn-success">Отправить</button>
      </div>
    </div>
  </div>
</div>
