<div class="row">
  <div class="col-md-4">
    <h1>Добавить фирму</h1>
    <div class="form-group">
      <label for="firm">Назвиние фирмы</label>
      <input [(ngModel)]="firmName" type="text" class="form-control" id="firm" placeholder="Фирма">
    </div>
    <button class="btn btn-success">Добавить фирму</button>
  </div>

  <div class="col-md-4">
    <h1>Добавить каталог</h1>
    <div class="form-group">
      <label for="catalog">Название каталога</label>
      <input [(ngModel)]="catalogName" type="text" class="form-control" id="catalog" placeholder="Каталог">
    </div>
    <button class="btn btn-success">Добавить фирму</button>
  </div>

  <div class="col-md-4">
    <h1>Добавить подкаталог</h1>
    <div class="form-group">
      <label for="catalogName">Название каталога</label>
      <input [(ngModel)]="catalogNameForSubcatalog" type="text" class="form-control" id="catalogName"
             placeholder="Каталог">
    </div>
    <div class="form-group">
      <label for="subcatalog">Название подкаталога</label>
      <input [(ngModel)]="subcatalogName" type="text" class="form-control" id="subcatalog" placeholder="Подкаталог">
    </div>
    <button class="btn btn-success">Добавить подкаталог</button>
  </div>

  <div class="col-md-12">
    <h1>Добавить продукт</h1>
    <div class="form-group">
      <label for="product">Название продукта</label>
      <input [(ngModel)]="subcatalogName" type="text" class="form-control" id="product" placeholder="Продукт">
    </div>
    <div class="form-group">
      <label for="price">Цена</label>
      <input [(ngModel)]="catalogNameForSubcatalog" type="text" class="form-control" id="price"
             placeholder="Цена">
    </div>
    <div class="form-group">
      <label for="description">Описание</label>
      <textarea [(ngModel)]="catalogNameForSubcatalog" class="form-control" id="description"
                placeholder="Описание"></textarea>
    </div>
    <div class="form-group">
      <label for="number">Количество</label>
      <input [(ngModel)]="catalogNameForSubcatalog" type="text" class="form-control" id="number"
                placeholder="Количество">
    </div>
    <div class="form-group">
      <label for="selfprice">Себестоимость</label>
      <input [(ngModel)]="catalogNameForSubcatalog" type="text" class="form-control" id="selfprice"
             placeholder="Себестоимость">
    </div>
    <div class="form-group">
      <label for="firmName">Название фирмы</label>
      <input [(ngModel)]="catalogNameForSubcatalog" type="text" class="form-control" id="firmName"
             placeholder="Фирма">
    </div>
    <div class="form-group">
      <label for="subcatalogName">Название подкаталога</label>
      <input [(ngModel)]="catalogNameForSubcatalog" type="text" class="form-control" id="subcatalogName"
             placeholder="Подкаталог">
    </div>
    <div class="form-group">
      <label for="photo">Загрузить картинку</label>
      <input [(ngModel)]="catalogNameForSubcatalog" type="file" class="form-control" id="photo"
             placeholder="Подкаталог">
    </div>
    <button class="btn btn-success">Добавить продукт</button>
  </div>
</div>

